<h1>Let's work together.</h1>
<hr>
<h2>Phone</h2>
<p><a href="tel:13108641460">1-310-864-1460</a></p>
<h2>Email</h2>
<p><a href="mailto:shawnpk@ineptsoftware.com?subject=PortfolioContact">shawnpk@ineptsoftware.com</a></p>
